{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">小麦名</label>
            <div class="layui-input-4">
                <select name="wheat_id" lay-verify="required" ng-model="field.wheat_id" ng-options="v.id as v.name for v in allWheat" ng-selected="v.id==field.wheat_id">
                    <option value="">请选择小麦名</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">病虫害策略名</label>
            <div class="layui-input-4">
                <select name="bch_id" lay-verify="required" ng-model="field.bch_id" ng-options="v.id as v.strategy_name for v in allBch" ng-selected="v.id==field.bch_id">
                    <option value="">请选择病虫害策略</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="__STATIC__/common/js/angular.min.js"></script>
<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function($scope) {
        $scope.field ={$info};
        $scope.allWheat ={$allWheat};
        $scope.allBch ={$allBch};
        layui.use(['form', 'layer'], function () {
            var form = layui.form, layer = layui.layer,$= layui.jquery;
            form.render();
            form.on('submit(submit)', function (data) {
                loading =layer.load(1, {shade: [0.1,'#fff']});
                if ({$info}){
                    data.field.id = $scope.field.id;
                }
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })
        });
    }]);
</script>