{include file="common/head"/}
<script>
    $(document).ready(function() {
        //Camera Jquery
        $('#camera-slide').camera({
            thumbnails: false,
            hover: false,
            pagination: false,
        });
    });
</script>
<!-- featured client start here -->
<section id="featured-wrapper">
</section>
<!-- featured client end here -->

<!-- maincontent start here -->
<section id="content-wrapper">
    <div class="row">
        <div class="three columns mobile-two">
            <h5><a style="{:style($vo['title_style'])}" href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" title="{$vo.title}">{:str_cut($vo.title,12,'...')}</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <div id="out">
                <div id="ser_box">
                    <input type="search" id="ipt" /><span><input id="su" value="XMZZ一下" class="bg s_btn" type="submit"></span>
                </div>
                <div id="bot_box">
                    <ul id="oul"></ul>
                </div>
            </div>
        </div>
    </div>
    <div id="featured-wrapper2">
        <div class="row front-feature-icon">
            {clt:list db='debris' id='list' limit="3" where="type_id = 1"}
            <div class="four columns mobile-one">
                <img src="__HOME__/images/sample-images/front-icon{$k+1}.png" alt="{$list.title}" class="img-center" />
                <h5>{$list.title}</h5>
                <p>{$list.content}</p>
            </div>
            {/clt:list}
        </div>
    </div>
</section>
{include file="common/footer"/}